<!DOCTYPE html>
<html>
    <head>
        <link href='https://fonts.googleapis.com/css?family=Questrial|Inconsolata|Lobster|Sigmar One|Bangers' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Coda|Righteous' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" type="text/css" href="/style.css" />

        <script src="/levelpage.js"></script>


        <script type="application/javascript">
          window.aaa = 5;
          window._levelData = {{{levelData}}};
        </script>

    </head>

    <body>
      <div class="container">

        <div class="header">
          <span class="title">madalin.ski / game</span>
        </div>

        <div class="subtitle-container"></div>

        <div class="main-area"></div>


      </div>

    </body>

</html>
