<!DOCTYPE html>
<html>
    <head>
      <link href='https://fonts.googleapis.com/css?family=Questrial|Inconsolata|Lobster|Sigmar One|Bangers' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Coda|Righteous' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" type="text/css" href="/style_game.css" />

        <script src="game_main.js"></script>

        <script type="application/javascript">
          window._userLevels = {{{userLevels}}}
        </script>

    </head>

    <body>
      <div class="container">

        <div class="header">
          <span class="title">madalin.ski / game</span>
          <div class="mode-container">
          </div>
        </div>

        <div class="subtitle-container">

        </div>

        <div class="main-area"></div>

        <div class="editor-tools"></div>

      </div>

    </body>

</html>
