div{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 10px;
}

.container{
  border: 1px solid red;
  box-sizing: border-box;
  text-align: center;
  .game{
    display: inline-block;
    background-color: green;
    margin: 50px auto;
    padding: 30px;

    .viewport{
      position: relative;
      height: 400px;
      width: 600px;
      border: 2px solid black;
      overflow: hidden;
    }
  }
}

.content{
  background-color: black;
  position: relative;
//  filter: blur(5px);
  opacity: 0.6;
}
