.toolbox-content{
  position: relative;
  margin: 60px;


  .block-params, .enemy-params{
    /*position: absolute;
    left:0;
    top: 0;
    width: 190px;
    //border-right: 3px solid black;
    //box-sizing: border-box;
    padding-top: 15px;
    */
    box-sizing: padding-box;
    padding-right: 50px;
    float: left;
    width: 50%;
    text-align: right;
    position: right;
  }

  .enemy-params{
    text-align: right;
    .title{
      font-weight: 800;
    }
    .enemy-direction, .enemy-speed{margin-bottom: 20px;}

    .dir, .speed{
      display: inline-block;
      margin-left: 18px;
      margin-top: 10px;
      &.selected{color: red;}
    }
  }

  .block-selector, .enemy-selector{
    /*position: absolute;
    left: 200px;
    top: 0;
    right: 0;
    padding-left: 50px;
    text-align: left;
    */
    box-sizing: padding-box;
    padding-left: 50px;
    float:left;
    width: 50%;
    text-align: left;
    //padding-left: 20px;
    position: relative;
  }

  .block-type-group{
    margin-bottom: 20px;
  }

  .block-params{
    .behaviour-selection{
      text-align: right;

      .behaviour{
        display: inline-block;
        font-size: 16px;
        margin-left: 10px;
        padding: 3px 5px;
        background-color: grey;
        color: white;
        &.selected{background-color: black;}
      }
    }

    .morphable-params{
      .param{
        margin: 30px 0;
      }
      .delay-selection, .cycle-selection{
        text-align: right;
        .title{
          font-size: 15px;
          display: inline-block;
        }
        input{
          margin-left: 10px;
          width: 80px;
        }
      }
    }
  }

}

/*.block-type, .enemy-type{
    display: inline-block;
    margin: 10px;
}*/


.toolbox{
  //border: 1px solid black;
  //box-sizing: border-box;

  width: 100%;
  margin: auto;
  position: relative;
  .toolbox-header{
    position: relative;
    text-align: center;
    cursor: pointer;

    font-size: 16px;

    .header-elem{
        display: inline-block;
        margin: 0 7px;
        padding: 5px 7px;
        color: white;
        background-color: grey;
        &.selected{background-color: black;}
        //width: 100px;
    }
  }
}



.block-type-container, .morph-state-container, .enemy-type-container{
  display: inline-block;
  padding: 5px;
  margin-right: 10px;
//  border: 1px solid black;
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 10px;
  opacity: 0.8;

  &.selected{
    opacity: 1;
    border: 2px solid grey;
  }

}

.block-type{
  &.square{
    position: relative;
    width: 30px;
    height: 30px;
    &.wall{
      border: 3px solid green;
    }
  }
}

.morph-state{
  &.square{
    position: relative;
    width: 30px;
    height: 30px;
  }
}

.enemy-type{
  &.roaming{
    position: relative;
    width: 30px;
    height: 30px;
  }
}


.placeholder{
  z-index: 110;
  position: absolute;
}

.square.player-marker{
  background-color: rgb(0, 255, 163);
}

.square.star-marker{
  background-color: yellow;
}


.enemy-marker{
  border-radius: 100px;

  &.fireball{
    background-color: orange;
  }

  &.snake{
    background-color: green;
  }
}


.params-elem{
  display: inline-block;
  border: 1px solid black;
  box-sizing: border-box;
  margin: 10px;
}

.level-settings{
  text-align: center;

  .param{
    display: inline-block;
    margin: 50px 20px 0 20px;

    .level-setting-name{width: 200px; margin-left: 10px; margin-right: 20px}
    .level-setting-col, .level-setting-row{width: 50px; margin-left: 10px;}
  }
  .btn{
    padding: 3px 5px;
    background-color: grey;
    color: white;
  }
}


input{
  z-index: 150;
}

.mode-button, .header-elem, .block-type, .enemy-type, .behaviour, .enemy-speed .speed,
.enemy-direction .dir, .morph-state{
  cursor: pointer;
}
