.header, .subtitle-container{
  position: relative;
  text-align: left;
  //font-family: "Coda";
  padding: 0 20px;

}

.subtitle-container{
  font-size: 18px;
  margin: 5px 0;
  span{
    margin: 10px;
    &:first-of-type{
      margin-left: 0;
    }
    &.mode-name{
      color: blue;
    }
    &.size{
      color: grey;
    }
  }
}

.header{
  color: orange;
  font-family: 'Bangers';
  font-size: 25px;
  .mode-button{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    color: red;
  }
}
