@import "./style/app.scss";
@import "./style/square.scss";
@import "./style/player.scss";
@import "./style/editor.scss";
@import "./style/enemy.scss";
@import "./style/header.scss";
@import "./style/menu.scss";

body{
  margin:0;
  padding: 0;
}

.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	zoom: 1;
}
